<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="application"
         point="org.eclipse.core.runtime.applications">
      <application>
         <run
               class="com.gcsf.pcm.intro.Application">
         </run>
      </application>
   </extension>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            name="RCP Perspective"
            class="com.gcsf.pcm.intro.Perspective"
            id="com.gcsf.pcm.perspective">
      </perspective>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.gcsf.pcm.application"
            name="RCP Product">
         <property
               name="windowImages"
               value="icons/alt_window_16.gif,icons/alt_window_32.gif">
         </property>
         <property
               name="appName"
               value="RCP Product">
         </property>
      </product>
   </extension>
   <extension
         point="org.eclipse.ui.intro">
      <intro
            class="org.eclipse.ui.intro.config.CustomizableIntroPart"
            id="com.gcsf.pcm.intro">
      </intro>
      <introProductBinding
            introId="com.gcsf.pcm.intro"
            productId="com.gcsf.pcm.product">
      </introProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.intro.config">
      <config
            introId="com.gcsf.pcm.intro"
            content="introContent.xml"
            id="com.gcsf.pcm.configId">
         <presentation
               home-page-id="root">
            <implementation
                  kind="html"
                  os="win32,linux,macosx">
            </implementation>
         </presentation>
      </config>
   </extension>
   <extension
         point="org.eclipse.ui.splashHandlers">
      <splashHandler
            class="com.gcsf.pcm.splashHandlers.InteractiveSplashHandler"
            id="com.gcsf.pcm.splashHandlers.interactive">
      </splashHandler>
      <splashHandlerProductBinding
            productId="com.gcsf.pcm.product"
            splashId="com.gcsf.pcm.splashHandlers.interactive">
      </splashHandlerProductBinding>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="menu:org.eclipse.ui.main.menu">
         <menu
               label="File">
            <separator
                  name="com.gcsf.pcm.separator1">
            </separator>
            <command
                  commandId="org.eclipse.ui.file.exit"
                  label="Exit"
                  style="push">
            </command>
         </menu>
         <menu
               label="User">
            <command
                  commandId="com.gcsf.pcm.commands.users.addUserCommand"
                  icon="icons/user/user_add.png"
                  label="Add User"
                  style="push">
            </command>
            <command
                  commandId="com.gcsf.pcm.commands.users.deleteUserCommand"
                  icon="icons/user/user_delete.png"
                  label="Delete User"
                  style="push">
            </command>
            <command
                  commandId="com.gcsf.pcm.commands.users.editUserCommand"
                  icon="icons/user/user_edit.png"
                  label="Edit User"
                  style="push">
            </command>
         </menu>
         <menu
               label="Groups">
            <command
                  commandId="com.gcsf.pcm.commands.groups.addGroupCommand"
                  icon="icons/group/group_add.png"
                  label="Add group"
                  style="push">
            </command>
            <command
                  commandId="com.gcsf.pcm.commands.groups.deleteGroupCommand"
                  icon="icons/group/group_delete.png"
                  label="Delete group"
                  style="push">
            </command>
            <command
                  commandId="com.gcsf.pcm.commands.groups.editGroupCommand"
                  icon="icons/group/group_edit.png"
                  label="Edit group"
                  style="push">
            </command>
         </menu>
         <menu
               label="Help">
            <command
                  commandId="org.eclipse.ui.views.showView"
                  style="push">
               <parameter
                     name="org.eclipse.ui.views.showView.viewId"
                     value="org.eclipse.ui.internal.introView">
               </parameter>
            </command>
            <command
                  commandId="org.eclipse.ui.help.aboutAction"
                  icon="icons/information.png"
                  label="About"
                  style="push">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            allPopups="false"
            locationURI="toolbar:org.eclipse.ui.main.toolbar">
         <toolbar
               id="com.gcsf.pcm.toolbars.user">
            <command
                  commandId="com.gcsf.pcm.commands.users.addUserCommand"
                  icon="icons/user/user_add.png"
                  label="Add User"
                  style="push">
            </command>
            <command
                  commandId="com.gcsf.pcm.commands.users.deleteUserCommand"
                  icon="icons/user/user_delete.png"
                  label="Delete User"
                  style="push">
            </command>
            <command
                  commandId="com.gcsf.pcm.commands.users.editUserCommand"
                  icon="icons/user/user_edit.png"
                  label="Edit User"
                  style="push">
            </command>
         </toolbar>
         <toolbar
               id="com.gcsf.pcm.toolbars.group">
            <command
                  commandId="com.gcsf.pcm.commands.groups.addGroupCommand"
                  icon="icons/group/group_add.png"
                  label="Add group"
                  style="push">
            </command>
            <command
                  commandId="com.gcsf.pcm.commands.groups.deleteGroupCommand"
                  icon="icons/group/group_delete.png"
                  label="Delete group"
                  style="push">
            </command>
            <command
                  commandId="com.gcsf.pcm.commands.groups.editGroupCommand"
                  icon="icons/group/group_edit.png"
                  label="Edit group"
                  style="push">
            </command>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="com.gcsf.pcm.handlers.user.AddUserHandler"
            commandId="com.gcsf.pcm.commands.users.addUserCommand">
      </handler>
      <handler
            class="com.gcsf.pcm.handlers.user.DeleteUserHandler"
            commandId="com.gcsf.pcm.commands.users.deleteUserCommand">
      </handler>
      <handler
            class="com.gcsf.pcm.handlers.user.EditUserHandler"
            commandId="com.gcsf.pcm.commands.users.editUserCommand">
      </handler>
      <handler
            class="com.gcsf.pcm.handlers.group.AddGroupHandler"
            commandId="com.gcsf.pcm.commands.groups.addGroupCommand">
      </handler>
      <handler
            class="com.gcsf.pcm.handlers.group.DeleteGroupHandler"
            commandId="com.gcsf.pcm.commands.groups.deleteGroupCommand">
      </handler>
      <handler
            class="com.gcsf.pcm.handlers.group.EditGroupHandler"
            commandId="com.gcsf.pcm.commands.groups.editGroupCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.bindings">
      <key
            commandId="com.gcsf.pcm.commands.users.addUserCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+6">
      </key>
      <key
            commandId="com.gcsf.pcm.commands.users.deleteUserCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+7">
      </key>
      <key
            commandId="com.gcsf.pcm.commands.users.editUserCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+8">
      </key>
      <key
            commandId="com.gcsf.pcm.commands.groups.addGroupCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+2">
      </key>
      <key
            commandId="com.gcsf.pcm.commands.groups.deleteGroupCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+3">
      </key>
      <key
            commandId="com.gcsf.pcm.commands.groups.editGroupCommand"
            contextId="org.eclipse.ui.contexts.window"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="M1+4">
      </key>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            description="Commands for handling user related actions"
            id="com.gcsf.pcm.commands.category.user"
            name="User Comands Category">
      </category>
      <command
            categoryId="com.gcsf.pcm.commands.category.user"
            defaultHandler="com.gcsf.pcm.handlers.user.AddUserHandler"
            id="com.gcsf.pcm.commands.users.addUserCommand"
            name="Add User Command">
      </command>
      <command
            categoryId="com.gcsf.pcm.commands.category.user"
            defaultHandler="com.gcsf.pcm.handlers.user.DeleteUserHandler"
            id="com.gcsf.pcm.commands.users.deleteUserCommand"
            name="Delete User Command">
      </command>
      <command
            categoryId="com.gcsf.pcm.commands.category.user"
            defaultHandler="com.gcsf.pcm.handlers.user.EditUserHandler"
            id="com.gcsf.pcm.commands.users.editUserCommand"
            name="Edit User Command">
      </command>
      <category
            description="Commands for handling group related actions"
            id="com.gcsf.pcm.commands.category.group"
            name="Group Comands Category">
      </category>
      <command
            categoryId="com.gcsf.pcm.commands.category.group"
            defaultHandler="com.gcsf.pcm.handlers.group.AddGroupHandler"
            id="com.gcsf.pcm.commands.groups.addGroupCommand"
            name="Add Group Command">
      </command>
      <command
            categoryId="com.gcsf.pcm.commands.category.group"
            defaultHandler="com.gcsf.pcm.handlers.group.DeleteGroupHandler"
            id="com.gcsf.pcm.commands.groups.deleteGroupCommand"
            name="Delete Group Command">
      </command>
      <command
            categoryId="com.gcsf.pcm.commands.category.group"
            defaultHandler="com.gcsf.pcm.handlers.group.EditGroupHandler"
            id="com.gcsf.pcm.commands.groups.editGroupCommand"
            name="Edit Group Command">
      </command>
   </extension>

</plugin>
